---
import Profile from "../cards/profile.astro";
import Links from "../cards/links.astro";
import Footer from "../cards/footer.astro";
import About from "../cards/about.astro";
import Time from "../cards/time.astro";
import Skills from "../cards/skills.astro";
import Projects from "../cards/projects.astro";
import { Row } from "studiocms:ui/components";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.png" />
		<link rel="stylesheet" crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/misans@4.1.0/lib/Normal/MiSans-Medium.min.css"/>
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>sipc.ink</title>
	</head>
	<body
		style="display: flex; justify-content: center; align-items: center; min-height: 100vh; flex-direction: column; gap: 20px;"
	>
		<Row gapSize="sm">
			<span style="display: flex; flex-direction: column; gap: 10px;">
				<Profile />
				<Skills />
				<Links />
			</span>

			<span style="display: flex; flex-direction: column; gap: 10px;">
				<About />
				<Time />
				<Footer />
			</span>

			<span style="display: flex; flex-direction: column; gap: 10px;">
				<Projects />
			</span>
		</Row>
		
	</body>
<style>
  body {
    font-family: 'MiSans', -apple-system, BlinkMacSystemFont, sans-serif;
  }
</style>
</html>
