---
import Project from "./Service.astro";
const projects = [
  {
    name:"Lyrify",
    desc:"Aggregate translation",
    url: "https://lyrify.sipc.ink",
    icon: "i-ri:translate",
  },
  {
    name:"Fleeting",
    desc:"Cloud storage",
    url: "https://pan.sipc.ink",
    icon: "i-ri:archive-fill",
  }
];
---

<h3 class="flex items-center mt-8 mb-4 font-semibold text-2xl">
  <span flex-1 class="outfit">Services</span>
</h3>
<div class="grid gap-4 grid-cols-1 sm:grid-cols-2">
  {
    projects.map((project) => {
      return <Project {...project} />;
    })
  }
</div>
