---
import { Card } from "studiocms:ui/components";
---

<Card style="width: 191%; z-index: 9999;">
	<div style="display: flex;align-items: center;justify-content: space-between;color: #808080;" >
		© {new Date().getFullYear()}
		<a href="https://sipc.ink" style="color: inherit; text-decoration: none;" >
			sipc.ink
		</a>
        <a href="https://hyperos.mi.com/font" style="color: #424242; text-decoration: none;" >
            MiSans
        </a>
	</div>
    
</Card>