---
import { Card } from "studiocms:ui/components/card";
import { Button } from "studiocms:ui/components/button";
import Github from "../assets/icon/github.svg";
import Bilibili from "../assets/icon/bilibili.svg";

import { useTastro } from "@sipc.ink/tastro"
const { t } = useTastro(Astro.request)
---

<Card style="width: 100%; height: 100%;">
    <h4 slot="header">🔗 {t("links.title")}</h4>
    <div style="display: flex; gap: 10px;">
        <Button color="default" variant="outlined" target="_blank" as="a" href="https://github.com/SIPC" style="padding: 12px; border-radius: 12px;">
            <Github />
        </Button>
        <Button color="default" variant="outlined" target="_blank" as="a" href="https://space.bilibili.com/1564506743" style="padding: 12px; border-radius: 12px;">
            <Bilibili />
        </Button>
    </div>
</Card>
