---
import { Card } from "studiocms:ui/components";
import { Badge } from "studiocms:ui/components";
---

<Card style="max-width: 210px; width: 100%;">
    <h4 slot="header">技能</h4>
    <span style="display: inline-flex; flex-wrap: wrap; gap: 10px;">
    <Badge label="NodeJS" color="info" />
    <Badge label="Python" color="info" />
    <Badge label="Astro" color="info" />
    <Badge label="JavaScript" color="info" />
    <Badge label="HTML" color="info" />
    <Badge label="CSS" color="info" />
    <Badge label="Docker" color="info" />
    </span>

</Card>
